<div id="player" [@slideDock]="playerState" [@ngIfAnimation]>

  <div id="dragtray" (click)="toggleOpenPlayer($event)">
    <span id="dragtray-icon"></span>
  </div>

  <div class="row" *ngIf="playerState=='minimize'" [@fadeInOut]>
    <div class="cover">
      <img src="{{moodeURL}}{{state.coverurl}}">
    </div>

    <div *ngIf="size>SCREEN_SIZE.XS" class="options">(options)</div>

    <div class="song_info">
      <div>
        {{state.title}}
      </div>
      <div>
        {{state.album}} - {{state.artist}}
      </div>
      <div>
          <ng5-slider [(value)]="value"  (userChange)="onUserTimeBarChange($event)" [options]="options"></ng5-slider>
      </div>
    </div>

    <div id="player_controls">
      <button *ngIf="size>SCREEN_SIZE.XS" type="button" (click)="ps.previous()" name="prev">
        <i class="material-icons">skip_previous</i>
      </button>
      <button type="button" (click)="onClickTogglePlayPause()" name="play">
        <i class="material-icons">{{state.state=='play'?'pause':'play_arrow'}}</i>
      </button>
      <button *ngIf="size>SCREEN_SIZE.XS" type="button" (click)="ps.next()" name="next">
        <i class="material-icons">skip_next</i>
      </button>
    </div>
  </div>
</div>
