
@import '../../styles-variables';
@import '~bootstrap/scss/mixins';

.menuopen{
  height: 30px;
  width: 30px;
  position: absolute;
  top:0;
  left: 0;
  z-index: 800;
  padding: 5px;
}
.menuclose{
  height: 30px;
  width: 30px;
  position: absolute;
  top:0;
  right: 0;
  padding: 5px;
  z-index: 998;
}


.menu{
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 300px;
  overflow: hidden;
  z-index: 998;
  background-color: #000;
}

nav.navbar{
}

ul.navbar-nav{
  @include list-unstyled();
  padding-left: 20px;
}
ul.navbar-nav li{
  display: block;
  float: left;
  padding: 5px 5px 5px 5px;
  min-width: 100px;
}

@media (max-width: map-get($grid-breakpoints, md)) { // tablet & phone
  nav.navbar{
    //width: 0;
  }
}

@media (min-width: map-get($grid-breakpoints, md) + 1) { // Computer

}
