
@import '../../styles-variables';
@import '~bootstrap/scss/mixins';

nav.navbar{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  background-color: red;
  padding-left: 10px;
  z-index: 999;
}

ul.navbar-nav{
  @include list-unstyled();
  padding-left: 20px;
}
ul.navbar-nav li{
  display: block;
  float: left;
  padding: 5px 5px 5px 5px;
  min-width: 100px;
}

@media (max-width: map-get($grid-breakpoints, md)) { // tablet & phone
  nav.navbar{
    display: none;
  }
}

@media (min-width: map-get($grid-breakpoints, md) + 1) { // Computer

}
