@import '../../styles-variables';


@media (min-width: map-get($grid-breakpoints, sm)) {
  nav {
    width: 80%;
  }
}

#explorer-content {
  position: absolute;
  top:$topbarheight;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 500;
  text-align: center;
  overflow: hidden;

  #collection {
    opacity: 1;
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    padding: 0;

    li{
      text-decoration: none;
      display: inline-block;
    }

  }
}
